.option {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 320px;
    width: 30%;

    .option_label {
      width: 100%;
      text-align: center;
      padding-left: 4px;
      font-size: 16px;
      color: var(--color-text-primary);
    }

    .chips_wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;

      .chip {
        font-weight: 600;
        font-size: 16px;
        border-width: 1px;
        box-sizing: border-box;
      }
    }
}