@import "../styles/theme.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1221;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  color: $color-text-primary;
  background: $color-background;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

main {
  flex: 1;
  position: relative;
  z-index: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
}
