.summary_wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    .summary_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}