.question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  .category {
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .answers_wrapper {
    width: 600px;
    height: 450px;

    .answer {
      border: 2px solid var(--color-hover-background);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

        &:hover {
            background-color: var(--color-hover-background);
            border-color: var(--color-hover-border);
        }

        &.selected {
            background-color: var(--color-active-background);
            border-color: var(--color-active-border);
        }

    }
  }
}
